@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #51a3f0, #360726);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: minmax(128px,auto) repeat(7,80px);
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    border: 1px solid #fff;
    background-color: rgb(255,255,255, 0.75);
}
.calculator-grid>button:hover{
    background-color: #e7dbdb;
}
.span-two {
    grid-column: span 2;
}
.output{
    grid-column: 1/-1;
    background-color: #211c0d;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    color: white;
}
